# data_process

In [19]:
file = '/home/song/project/2_CrossRnaSeq/2_data/PRJNA344653_maize_tpm.1000promoter.csv'

In [2]:
import pandas as pd

In [9]:
file = '/home/song/project/2_CrossRnaSeq/2_data/maize_cold_tpm_cds.csv'

In [27]:
df = pd.read_csv(file,sep=',',header=0, index_col=False, names=names)

In [29]:
names = ['Unnamed: 0', 'gene',  'promoter',  'b1_05',  'b1_16',  'b1_1',  'b1_24', 'b1_3', 'b1_6', 'b1_ck_05', 'b1_ck_16', 'b1_ck_1', 'b1_ck_24', 'b1_ck_3', 'b1_ck_6', 'b2_05', 'b2_16', 'b2_1', 'b2_24', 'b2_3','b2_6', 'b2_ck_05', 'b2_ck_16', 'b2_ck_1','b2_ck_24', 'b2_ck_3','b2_ck_6', 'b3_05','b3_16', 'b3_1','b3_24', 'b3_3','b3_6', 'b3_ck_05','b3_ck_16', 'b3_ck_1','b3_ck_24', 'b3_ck_3', 'b3_ck_6']
sel_cols = [ 'promoter',  'b1_05',  'b1_16',  'b1_1',  'b1_24', 'b1_3', 'b1_6', 'b1_ck_05', 'b1_ck_16', 'b1_ck_1', 'b1_ck_24', 'b1_ck_3', 'b1_ck_6', 'b2_05', 'b2_16', 'b2_1', 'b2_24', 'b2_3','b2_6', 'b2_ck_05', 'b2_ck_16', 'b2_ck_1','b2_ck_24', 'b2_ck_3','b2_ck_6', 'b3_05','b3_16', 'b3_1','b3_24', 'b3_3','b3_6', 'b3_ck_05','b3_ck_16', 'b3_ck_1','b3_ck_24', 'b3_ck_3', 'b3_ck_6']

In [36]:
df = df[sel_cols]
df

,promoter,b1_05,b1_16,b1_1,b1_24,b1_3,b1_6,b1_ck_05,b1_ck_16,b1_ck_1,...,b3_1,b3_24,b3_3,b3_6,b3_ck_05,b3_ck_16,b3_ck_1,b3_ck_24,b3_ck_3,b3_ck_6
0,CCCCTCACAGTCCAACGGTGCCCTGAGTTCGGCACCCTCTCTAGGA...,18.963966,8.777565,14.608013,7.483493,15.487412,9.876182,13.502350,9.623397,14.864569,...,12.235706,6.738560,9.303718,9.201698,12.107029,13.270813,11.539923,18.355587,13.286607,13.033029
1,CTTTATGAAAAGGGTGCTGTTCAATCCTGTGATTGCCTTTATTTTT...,46.502055,51.621455,58.537038,48.981843,38.880103,37.163024,50.493015,31.104467,49.404436,...,67.008557,57.488443,53.073797,49.522409,52.501073,45.089805,62.135769,31.197889,60.177507,57.576791
2,CCTTCTCCTCCCTGCTTCACCCGACCAGGAGCACCCGCCCGGTGGT...,0.573627,0.369907,0.437554,0.209248,0.192141,0.321520,0.593598,0.231125,0.183904,...,0.165256,0.255584,0.170764,0.262649,0.233768,0.147253,0.217201,0.162996,0.224530,0.105681
3,TGAATCGAACGGATGGGGGCGTGGGGGAACCAGAATGTATACGTCG...,34.518811,13.295427,29.247559,8.615712,21.463936,17.903428,25.509920,26.585094,23.968793,...,19.587877,10.784474,17.377944,13.330857,19.000035,22.096105,18.747996,29.899795,20.213748,23.954999
4,CGCCTCCGGCTCTAGTCTGGCGGTCTTCAGATCCGGATCCTAATGC...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.274451,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38754,GCTGGAGTGACCCGTGACCTCGCACGACACGACACACGGCACGGGT...,11.449066,11.503563,12.153103,12.625998,12.195001,10.210645,11.861306,7.705280,8.827131,...,9.840795,12.174048,12.041032,11.129874,9.348295,5.345446,6.952398,8.116198,8.210484,6.474350
38755,AACGGGGACGAGATCTAGGGTTTGATCCGCTTTGGGTTGCGGGCAA...,69.881121,59.343869,66.778616,49.614515,60.118917,61.600393,67.034386,78.219801,62.147207,...,58.543827,56.235211,66.048042,68.759486,54.170893,69.275168,73.285557,76.433693,79.630013,80.548491
38756,CATGCCCATCAGGCCTTTGCAGCTTTATGCTGATGGGGGTTACCAG...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
38757,GCTCCGGCGGCCCGAACCACTCTAAACCTTTGTGTGTTCTTGTGTT...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.047614,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.048892,0.000000,0.000000
38758,TGTAATATGCTTGCCGATCTGTCGGTTTGTGAGTTTTGCATTGTTC...,8.146473,8.926472,8.078759,8.008364,7.544759,6.606790,6.713368,14.319904,8.939485,...,5.882580,8.279630,7.003944,6.835691,5.836493,9.253007,6.431143,12.062325,9.420624,13.151998

In [37]:
# 定义转换函数
def convert_to_float(value):
    try:
        return float(value)
    except ValueError:
        return value

# 指定需要转换的列名
columns_to_convert = list(df.columns)

# 对指定列应用转换函数
for column in columns_to_convert:
    df[column] = df[column].apply(convert_to_float)

In [38]:
df["expr_05"] = (df['b1_05'] - df['b1_ck_05'] + df['b2_05'] - df['b2_ck_05'] + df['b3_05'] - df['b3_ck_05']) / 3
df["expr_16"] = (df['b1_16'] - df['b1_ck_16'] + df['b2_16'] - df['b2_ck_16'] + df['b3_16'] - df['b3_ck_16']) / 3
df["expr_1"] = (df['b1_1'] - df['b1_ck_1'] + df['b2_1'] - df['b2_ck_1'] + df['b3_1'] - df['b3_ck_1']) / 3
df["expr_24"] = (df['b1_24'] - df['b1_ck_24'] + df['b2_24'] - df['b2_ck_24'] + df['b3_24'] - df['b3_ck_24']) / 3
df["expr_3"] = (df['b1_3'] - df['b1_ck_3'] + df['b2_3'] - df['b2_ck_3'] + df['b3_3'] - df['b3_ck_3']) / 3
df["expr_6"] = (df['b1_6'] - df['b1_ck_6'] + df['b2_6'] - df['b2_ck_6'] + df['b3_6'] - df['b3_ck_6']) / 3

In [39]:
sel_cols = ["promoter","expr_05","expr_1","expr_3","expr_6","expr_16","expr_24"]

In [40]:
df1 = df[sel_cols]

In [41]:
df1

,promoter,expr_05,expr_1,expr_3,expr_6,expr_16,expr_24
0,CCCCTCACAGTCCAACGGTGCCCTGAGTTCGGCACCCTCTCTAGGA...,0.582996,0.579718,-1.739823,-3.876959,-3.618684,-9.665248
1,CTTTATGAAAAGGGTGCTGTTCAATCCTGTGATTGCCTTTATTTTT...,2.042503,6.997920,-5.589137,-7.108254,18.873403,27.954900
2,CCTTCTCCTCCCTGCTTCACCCGACCAGGAGCACCCGCCCGGTGGT...,0.021151,0.082562,0.165690,0.170562,0.184132,0.103778
3,TGAATCGAACGGATGGGGGCGTGGGGGAACCAGAATGTATACGTCG...,2.728625,2.341786,-3.158524,-8.376197,-9.412582,-16.847263
4,CGCCTCCGGCTCTAGTCTGGCGGTCTTCAGATCCGGATCCTAATGC...,0.000000,-0.046268,0.000000,-0.062413,-0.095632,0.000000
...,...,...,...,...,...,...,...
38754,GCTGGAGTGACCCGTGACCTCGCACGACACGACACACGGCACGGGT...,-0.342506,2.710410,3.167383,4.011306,5.658588,2.613784
38755,AACGGGGACGAGATCTAGGGTTTGATCCGCTTTGGGTTGCGGGCAA...,4.691650,-4.445986,-13.827602,-22.702223,-10.859096,-13.373243
38756,CATGCCCATCAGGCCTTTGCAGCTTTATGCTGATGGGGGTTACCAG...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
38757,GCTCCGGCGGCCCGAACCACTCTAAACCTTTGTGTGTTCTTGTGTT...,0.000000,-0.015871,0.000000,0.000000,-0.008259,-0.030629
38758,TGTAATATGCTTGCCGATCTGTCGGTTTGTGAGTTTTGCATTGTTC...,0.176026,-0.470922,-2.461687,-5.766308,-1.919821,-4.446678

In [42]:
df1.to_csv('promoter_data.csv',sep=' ', index=False)

#

# DEGs_Promoter_1000

In [21]:
#读取各个DEGs文件

import os
import pandas as pd
PATH = ["/home/song/project/2_CrossRnaSeq/2_data/maizeDEGs/", "/home/song/project/2_CrossRnaSeq/2_data/sorghumDEGs/"]
SPECIES = ['maize','sorghum']
TREATMENT = ['05h','1h','3h','6h','16h','24h']
keep_cols = ["Row.names", "DE_group"]

# MAIZE_CATEGORIES = ["maize_05hDEGS_coldvsCK.csv", "maize_1hDEGS_coldvsCK.csv", "maize_3hDEGS_coldvsCK.csv", "maize_6hDEGS_coldvsCK.csv", "maize_16hDEGS_coldvsCK.csv", "maize_24hDEGS_coldvsCK.csv"]
# SORGHUM_CATEGORIES = ["sorghum_05hDEGS_coldvsCK.csv", "sorghum_1hDEGS_coldvsCK.csv", "sorghum_3hDEGS_coldvsCK.csv", "sorghum_6hDEGS_coldvsCK.csv", "sorghum_16hDEGS_coldvsCK.csv", "sorghum_24hDEGS_coldvsCK.csv"]

In [22]:
dfs = {}

for path in PATH:
    for treatment in TREATMENT:
        species = path.split('/')[-2][:-4]   #对文件路径进行处理获取物种
        file_path = os.path.join(path, species + '_' + treatment + 'DEGS_coldvsCK.csv')  #拼接得到文件路径
        df_name = str(species + '_' + treatment)  #批量命名数据框
        df = pd.read_csv(file_path, sep = ',', header=0, index_col=False)[keep_cols].rename(columns={"Row.names":"gene", "DE_group":"label"})  #选取特定的数据列并重命名
        df['species'] = species
        df['treatment'] = treatment
        dfs[df_name] = df

In [23]:
#由于本次两文件格式差异较大，故不用循环来读入
maize_file_path = '/home/song/project/2_CrossRnaSeq/2_data/PRJNA344653_maize_tpm.1000promoter.csv'
maize_promoter = pd.read_csv(maize_file_path, sep=',', header=0, usecols=['gene','X1000promoter'])  #读取数据时仅选取需要的列
maize_promoter = maize_promoter.rename(columns={'X1000promoter':'seq'}) 

sorghum_file_path = '/home/song/project/2_CrossRnaSeq/2_data/sorghum.1000.promoters.fa.csv'
sorghum_promoter = pd.read_csv(sorghum_file_path, sep=',' ,names=['gene','seq'])  #读取数据时仅选取需要的列

#将多列表作为字典方便后续调用
promoter = {}  

promoter['maize'] = maize_promoter
promoter['sorghum'] = sorghum_promoter

In [24]:
dataset = pd.DataFrame()  #创建空的数据框以保存数据

for key in dfs.keys():  #根据字典key来遍历字典
    species = key.split('_')[0]  #对key进行分割已得到其包含的物种及处理信息
    treatment = key.split('_')[1]

    df = pd.merge(dfs[key], promoter[species], how='outer', on='gene' )  #将序列和基因按基因名并集连接并找出非差异基因
    df.fillna({'species':species,'treatment':treatment,'label':'None-regulated'},inplace=True) #按列填充na值并直接将改变应用于原数据框
    df['label'] = df['label'].replace({'Up-regulated': 0, 'Down-regulated': 1, 'None-regulated':2})  #为label进行重命名
    
    order = ['gene','seq','species','treatment', 'label'] 
    df = df[order] #对数据框重新排序

    dataset = dataset.append(df) #将处理好的数据框依次填入到整体数据框中

In [28]:
dataset['label'].value_counts()

2    398897
0     19465
1     18503
Name: label, dtype: int64

In [16]:
dataset.to_csv('maize_sorghum_DEGs_promoter.csv', sep=',') #将整合好的文件保存为csv文件

## 随机抽样平衡数据集

In [7]:
# 按照类别进行分割
class_0_1_data = df[df['label'].isin([0, 1])]
class_2_data = df[df['label'] == 2]

# 从类别为2的数据中随机抽样2万个样本
sampled_class_2_data = class_2_data.sample(n=20000, random_state=42)  # 这里使用了随机种子以保证可重复性

# 将抽样后的数据和类别0, 1的数据合并
balanced_data = pd.concat([class_0_1_data, sampled_class_2_data])

In [10]:
order = ['gene','seq','species','treatment','label']
balanced_data = balanced_data[order]

In [13]:
balanced_data

,gene,seq,species,treatment,label
0,Zm00001eb250800,AAAAAGGAGAGGAGAGCCCGGTTTATTTATGCGATGGATTCGGCAT...,maize,05h,0
1,Zm00001eb030550,AATTCGGGTACCGGAATTTCGGATTTGGGTTCGGATATTCCTGAAC...,maize,05h,0
2,Zm00001eb317350,GACGCAGCCTGGGTGCGCGGGGTCTTTGTAGGCTGAAGCAGGGCGC...,maize,05h,0
3,Zm00001eb364310,GGTCGTGTTCTACGACCGCGCCGGGGCGGGGAACGTGCACAAGCAG...,maize,05h,0
4,Zm00001eb060840,GAGATGCTGGTGCCATGCCCACCGTGCCACAGATTATATATAGCAG...,maize,05h,0
...,...,...,...,...,...
388544,SORBI_3003G309400,GACACAAGATTCGATATAACGGGAAATCTTGAAATTTTTTAGAAAC...,sorghum,16h,2
83810,Zm00001eb058820,GTGCGGACTGCTTCGATCAGCTTACGTACGTAGGTGTGCAGTGTAA...,maize,3h,2
365753,SORBI_3008G130000,GTGGATTGGCCCATTCACGGGGTTACAAACCCCTGTGTGTGTGTGC...,sorghum,6h,2
123369,Zm00001eb058470,CGATCTTTCTTTGTTGACACTCCAGTGTCATTATTTTTAAAATTAT...,maize,6h,2
270412,SORBI_3001G283200,TCCAAACTGATTATACCGACTAAGTGTTCTAGCGGACGTTCCAAGA...,sorghum,1h,2

In [14]:
balanced_data.to_csv('maize_sorghum_DEGs_promoter_DL.csv', sep=',')

#

# DEGs_CDS_2000

In [2]:
#读取各个DEGs文件

import os
import pandas as pd
PATH = ["/home/song/project/2_CrossRnaSeq/2_data/maizeDEGs/", "/home/song/project/2_CrossRnaSeq/2_data/sorghumDEGs/"]
SPECIES = ['maize','sorghum']
TREATMENT = ['05h','1h','3h','6h','16h','24h']
keep_cols = ["Row.names", "DE_group"]

# MAIZE_CATEGORIES = ["maize_05hDEGS_coldvsCK.csv", "maize_1hDEGS_coldvsCK.csv", "maize_3hDEGS_coldvsCK.csv", "maize_6hDEGS_coldvsCK.csv", "maize_16hDEGS_coldvsCK.csv", "maize_24hDEGS_coldvsCK.csv"]
# SORGHUM_CATEGORIES = ["sorghum_05hDEGS_coldvsCK.csv", "sorghum_1hDEGS_coldvsCK.csv", "sorghum_3hDEGS_coldvsCK.csv", "sorghum_6hDEGS_coldvsCK.csv", "sorghum_16hDEGS_coldvsCK.csv", "sorghum_24hDEGS_coldvsCK.csv"]

In [2]:
dfs = {}

for path in PATH:
    for treatment in TREATMENT:
        species = path.split('/')[-2][:-4]   #对文件路径进行处理获取物种
        file_path = os.path.join(path, species + '_' + treatment + 'DEGS_coldvsCK.csv')  #拼接得到文件路径
        df_name = str(species + '_' + treatment)  #批量命名数据框
        df = pd.read_csv(file_path, sep = ',', header=0, index_col=False)[keep_cols].rename(columns={"Row.names":"gene", "DE_group":"label"})  #选取特定的数据列并重命名
        df['species'] = species
        df['treatment'] = treatment
        dfs[df_name] = df

In [3]:
# #查看数据框下具体列数据的分布情况

# threshold = 2500

# # print(sum(maize_cds[len(maize_cds['seq']) > threshold]) / len(maize_cds))
# print(sum(sorghum_cds['seq'].apply(len) > threshold) / len(sorghum_cds))  #apply函数要认真学习使用！！！

In [4]:
# 填充序列到指定长度
def pad_sequences_to_length(seq, threshold):
    if len(seq) < threshold:
        padding_length = threshold - len(seq)
        padded_seq = seq + 'N' * padding_length
    else:
        padded_seq = seq

    return padded_seq

In [5]:
threshold = 2500  #设定cds长度阈值以优化数据结构

#由于本次两文件格式差异较大，故不用循环来读入
maize_file_path = '/home/song/project/2_CrossRnaSeq/2_data/maize_cold_tpm_cds.csv'
maize_cds = pd.read_csv(maize_file_path, sep=' ', header=0, usecols=['gene','seq'])  #读取数据时仅选取需要的列

maize_cds = maize_cds[maize_cds['seq'].apply(len) <= threshold]  #筛选掉过长的序列
maize_cds['seq'] = maize_cds['seq'].apply(pad_sequences_to_length, threshold=2500)  #填充序列至指定长度

sorghum_file_path = '/home/song/project/2_CrossRnaSeq/2_data/sorghum.cds.csv'
sorghum_cds = pd.read_csv(sorghum_file_path, sep=',' , header = None, names=['gene','seq'])  #读取数据时仅选取需要的列

sorghum_cds = sorghum_cds[sorghum_cds['seq'].apply(len) <= threshold]  #筛选掉过长的序列
sorghum_cds['seq'] = sorghum_cds['seq'].apply(pad_sequences_to_length, threshold=2500)

#将多列表作为字典方便后续调用
cds_2500 = {}  

cds_2500['maize'] = maize_cds
cds_2500['sorghum'] = sorghum_cds

In [6]:
dataset = pd.DataFrame()  #创建空的数据框以保存数据

for key in dfs.keys():  #根据字典key来遍历字典
    species = key.split('_')[0]  #对key进行分割已得到其包含的物种及处理信息
    treatment = key.split('_')[1]

    df = pd.merge(dfs[key], cds_2500[species], how='outer', on='gene' )  #将序列和基因按基因名并集连接并找出非差异基因
    df.fillna({'species':species,'treatment':treatment,'label':'None-regulated'},inplace=True) #按列填充na值并直接将改变应用于原数据框
    df['label'] = df['label'].replace({'Up-regulated': 0, 'Down-regulated': 1, 'None-regulated':2})  #为label进行重命名
    
    order = ['gene','seq','species','treatment', 'label'] 
    df = df[order] #对数据框重新排序

    dataset = dataset.append(df) #将处理好的数据框依次填入到整体数据框中

In [7]:
dfs

{'maize_05h':                 gene           label species treatment
 0    Zm00001eb250800    Up-regulated   maize       05h
 1    Zm00001eb030550    Up-regulated   maize       05h
 2    Zm00001eb317350    Up-regulated   maize       05h
 3    Zm00001eb364310    Up-regulated   maize       05h
 4    Zm00001eb060840    Up-regulated   maize       05h
 ..               ...             ...     ...       ...
 638  Zm00001eb316270    Up-regulated   maize       05h
 639  Zm00001eb171050    Up-regulated   maize       05h
 640  Zm00001eb197170    Up-regulated   maize       05h
 641  Zm00001eb148130    Up-regulated   maize       05h
 642  Zm00001eb228670  Down-regulated   maize       05h

 [643 rows x 4 columns],
 'maize_1h':                 gene           label species treatment
 0    Zm00001eb060840    Up-regulated   maize        1h
 1    Zm00001eb016620  Down-regulated   maize        1h
 2    Zm00001eb283860    Up-regulated   maize        1h
 3    Zm00001eb153280    Up-regulated   maize        1h
 4    Zm00001eb074890    Up-regulated   maize        1h
 ..               ...             ...     ...       ...
 730  Zm00001eb253450    Up-regulated   maize        1h
 731  Zm00001eb247940    Up-regulated   maize        1h
 732  Zm00001eb190250    Up-regulated   maize        1h
 733  Zm00001eb057790    Up-regulated   maize        1h
 734  Zm00001eb411520    Up-regulated   maize        1h

 [735 rows x 4 columns],
 'maize_3h':                  gene           label species treatment
 0     Zm00001eb058370  Down-regulated   maize        3h
 1     Zm00001eb434140  Down-regulated   maize        3h
 2     Zm00001eb318910  Down-regulated   maize        3h
 3     Zm00001eb350280  Down-regulated   maize        3h
 4     Zm00001eb323070  Down-regulated   maize        3h
 ...               ...             ...     ...       ...
 1205  Zm00001eb301810    Up-regulated   maize        3h
 1206  Zm00001eb039800    Up-regulated   maize        3h
 1207  Zm00001eb159910  Down-regulated   maize        3h
 1208  Zm00001eb203130    Up-regulated   maize        3h
 1209  Zm00001eb250620    Up-regulated   maize        3h

 [1210 rows x 4 columns],
 'maize_6h':                  gene           label species treatment
 0     Zm00001eb409750  Down-regulated   maize        6h
 1     Zm00001eb011820  Down-regulated   maize        6h
 2     Zm00001eb030550  Down-regulated   maize        6h
 3     Zm00001eb113780  Down-regulated   maize        6h
 4     Zm00001eb168100  Down-regulated   maize        6h
 ...               ...             ...     ...       ...
 2164  Zm00001eb145780  Down-regulated   maize        6h
 2165  Zm00001eb414860    Up-regulated   maize        6h
 2166  Zm00001eb007870    Up-regulated   maize        6h
 2167  Zm00001eb421830    Up-regulated   maize        6h
 2168  Zm00001eb282490    Up-regulated   maize        6h

 [2169 rows x 4 columns],
 'maize_16h':                  gene           label species treatment
 0     Zm00001eb172450    Up-regulated   maize       16h
 1     Zm00001eb415760    Up-regulated   maize       16h
 2     Zm00001eb018850    Up-regulated   maize       16h
 3     Zm00001eb049640    Up-regulated   maize       16h
 4     Zm00001eb259960    Up-regulated   maize       16h
 ...               ...             ...     ...       ...
 5274  Zm00001eb348270  Down-regulated   maize       16h
 5275  Zm00001eb011240  Down-regulated   maize       16h
 5276  Zm00001eb088550  Down-regulated   maize       16h
 5277  Zm00001eb009040    Up-regulated   maize       16h
 5278  Zm00001eb167980    Up-regulated   maize       16h

 [5279 rows x 4 columns],
 'maize_24h':                  gene           label species treatment
 0     Zm00001eb007650  Down-regulated   maize       24h
 1     Zm00001eb324720  Down-regulated   maize       24h
 2     Zm00001eb398970  Down-regulated   maize       24h
 3     Zm00001eb441600  Down-regulated   maize       24h
 4     Zm00001eb425100  Down-regulated   maize       24h
 ...               ...             ...     ...       ...
 7407  Zm00001eb096560  Down-regulated   maize       24h
 7408  Zm00001eb009530  Down-regulated   maize       24h
 7409  Zm00001eb294500    Up-regulated   maize       24h
 7410  Zm00001eb143730  Down-regulated   maize       24h
 7411  Zm00001eb252820  Down-regulated   maize       24h

 [7412 rows x 4 columns],
 'sorghum_05h':                   gene           label  species treatment
 0    SORBI_3007G051800    Up-regulated  sorghum       05h
 1    SORBI_3010G172200    Up-regulated  sorghum       05h
 2    SORBI_3001G481100    Up-regulated  sorghum       05h
 3    SORBI_3008G036000    Up-regulated  sorghum       05h
 4    SORBI_3005G037000    Up-regulated  sorghum       05h
 ..                 ...             ...      ...       ...
 835  SORBI_3006G201300  Down-regulated  sorghum       05h
 836  SORBI_3005G157300  Down-regulated  sorghum       05h
 837  SORBI_3003G041700  Down-regulated  sorghum       05h
 838  SORBI_3001G175000  Down-regulated  sorghum       05h
 839  SORBI_3002G022600  Down-regulated  sorghum       05h

 [840 rows x 4 columns],
 'sorghum_1h':                   gene           label  species treatment
 0    SORBI_3001G488000    Up-regulated  sorghum        1h
 1    SORBI_3007G003400    Up-regulated  sorghum        1h
 2    SORBI_3010G159900    Up-regulated  sorghum        1h
 3    SORBI_3009G197600    Up-regulated  sorghum        1h
 4    SORBI_3010G241200    Up-regulated  sorghum        1h
 ..                 ...             ...      ...       ...
 794  SORBI_3007G142200    Up-regulated  sorghum        1h
 795  SORBI_3001G300800  Down-regulated  sorghum        1h
 796  SORBI_3001G298400  Down-regulated  sorghum        1h
 797  SORBI_3009G183101    Up-regulated  sorghum        1h
 798  SORBI_3002G199500  Down-regulated  sorghum        1h

 [799 rows x 4 columns],
 'sorghum_3h':                    gene           label  species treatment
 0     SORBI_3002G269400  Down-regulated  sorghum        3h
 1     SORBI_3001G079500  Down-regulated  sorghum        3h
 2     SORBI_3002G269300  Down-regulated  sorghum        3h
 3     SORBI_3006G210300  Down-regulated  sorghum        3h
 4     SORBI_3005G145300  Down-regulated  sorghum        3h
 ...                 ...             ...      ...       ...
 1559  SORBI_3005G149700    Up-regulated  sorghum        3h
 1560  SORBI_3003G277100  Down-regulated  sorghum        3h
 1561  SORBI_3004G150800    Up-regulated  sorghum        3h
 1562  SORBI_3008G137901  Down-regulated  sorghum        3h
 1563  SORBI_3002G020800    Up-regulated  sorghum        3h

 [1564 rows x 4 columns],
 'sorghum_6h':                    gene           label  species treatment
 0     SORBI_3009G120800  Down-regulated  sorghum        6h
 1     SORBI_3007G051800  Down-regulated  sorghum        6h
 2     SORBI_3010G143400  Down-regulated  sorghum        6h
 3     SORBI_3003G082600  Down-regulated  sorghum        6h
 4     SORBI_3001G482600  Down-regulated  sorghum        6h
 ...                 ...             ...      ...       ...
 3126  SORBI_3009G076900  Down-regulated  sorghum        6h
 3127  SORBI_3001G382900  Down-regulated  sorghum        6h
 3128  SORBI_3005G020800    Up-regulated  sorghum        6h
 3129  SORBI_3006G275900  Down-regulated  sorghum        6h
 3130  SORBI_3002G206500  Down-regulated  sorghum        6h

 [3131 rows x 4 columns],
 'sorghum_16h':                    gene           label  species treatment
 0     SORBI_3004G229300  Down-regulated  sorghum       16h
 1     SORBI_3009G100500  Down-regulated  sorghum       16h
 2     SORBI_3006G184400  Down-regulated  sorghum       16h
 3     SORBI_3003G334600  Down-regulated  sorghum       16h
 4     SORBI_3001G406300  Down-regulated  sorghum       16h
 ...                 ...             ...      ...       ...
 6699  SORBI_3005G094100    Up-regulated  sorghum       16h
 6700  SORBI_3009G172600  Down-regulated  sorghum       16h
 6701  SORBI_3001G082800    Up-regulated  sorghum       16h
 6702  SORBI_3001G430100  Down-regulated  sorghum       16h
 6703  SORBI_3003G062700  Down-regulated  sorghum       16h

 [6704 rows x 4 columns],
 'sorghum_24h':                    gene           label  species treatment
 0     SORBI_3003G425500  Down-regulated  sorghum       24h
 1     SORBI_3003G395400  Down-regulated  sorghum       24h
 2     SORBI_3006G208800  Down-regulated  sorghum       24h
 3     SORBI_3009G030100  Down-regulated  sorghum       24h
 4     SORBI_3001G247300  Down-regulated  sorghum       24h
 ...                 ...             ...      ...       ...
 7477  SORBI_3009G239301    Up-regulated  sorghum       24h
 7478  SORBI_3003G198100    Up-regulated  sorghum       24h
 7479  SORBI_3009G245650  Down-regulated  sorghum       24h
 7480  SORBI_3006G163033  Down-regulated  sorghum       24h
 7481  SORBI_3005G204000  Down-regulated  sorghum       24h

 [7482 rows x 4 columns]}

In [8]:
dataset

,gene,seq,species,treatment,label
0,Zm00001eb250800,ATGGAGGCCTACTTCTTGTTCCACAGCGGGAGGGCGCACGAGTTCG...,maize,05h,0
1,Zm00001eb030550,ATGGCTTCCACGACGACGACGGCATCCAACAACCTGGCGGGCGTGT...,maize,05h,0
2,Zm00001eb317350,ATGTCGACGGCGGTGGCAGAGGTGCGGCCGCCCTACGGGTTCCCCG...,maize,05h,0
3,Zm00001eb364310,ATGGCCACGGCCGCGCCGGCGTCTGTCGAGGGGTTCAACTGCACCA...,maize,05h,0
4,Zm00001eb060840,ATGGCCTCCGCGATCAAGGCTGCATCGACCTCCTCCCAGTGGTCTT...,maize,05h,0
...,...,...,...,...,...
29854,SORBI_3010G279000,ATGGCCACCGCCTTCGAGTCCCCGACCTCCTCCCCCGCCGCCGCGC...,sorghum,24h,2
29855,SORBI_3010G279100,ATGGCTGCAGGTTCCTCCCCCTCCACCTCCAGCAGCCGGAGCCTCC...,sorghum,24h,2
29856,SORBI_3010G279600,ATGTCGGTCCCGGACTACTCCACCTCCACCGGCGGCGCCATCATCG...,sorghum,24h,2
29857,SORBI_3010G279700,ATGGCCGCCGCGGCGGTCTTGGCGCTGCTCACGGTGTCGGTTCTGG...,sorghum,24h,2
29858,SORBI_3010G280000,ATGCTGTGCCTTGAGGCGCAGCAGGTGGCCGGCCTGCCACACGCCG...,sorghum,24h,2

In [10]:
df = dataset

In [11]:
# 按照类别进行分割
class_0_1_data = df[df['label'].isin([0, 1])]
class_2_data = df[df['label'] == 2]

# 从类别为2的数据中随机抽样2万个样本
sampled_class_2_data = class_2_data.sample(n=20000, random_state=42)  # 这里使用了随机种子以保证可重复性

# 将抽样后的数据和类别0, 1的数据合并
balanced_data = pd.concat([class_0_1_data, sampled_class_2_data])

In [12]:
order = ['gene','seq','species','treatment','label']
balanced_data = balanced_data[order]

In [18]:
balanced_data.to_csv('maize_sorghum_DEGs_cds_2500_DL.csv', sep=',')

In [3]:
balanced_data = pd.read_csv('maize_sorghum_DEGs_cds_2500_DL.csv')

In [4]:
combination_counts = balanced_data.groupby(['species', 'treatment', 'label']).size().reset_index(name='count')
print(combination_counts)

    species treatment  label  count
0     maize       05h      0    621
1     maize       05h      1     22
2     maize       05h      2   2068
3     maize       16h      0   2965
4     maize       16h      1   2314
5     maize       16h      2   1850
6     maize        1h      0    627
7     maize        1h      1    108
8     maize        1h      2   1964
9     maize       24h      0   3582
10    maize       24h      1   3830
11    maize       24h      2   1659
12    maize        3h      0    492
13    maize        3h      1    718
14    maize        3h      2   2028
15    maize        6h      0    948
16    maize        6h      1   1221
17    maize        6h      2   1956
18  sorghum       05h      0    657
19  sorghum       05h      1    183
20  sorghum       05h      2   1515
21  sorghum       16h      0   3411
22  sorghum       16h      1   3293
23  sorghum       16h      2   1266
24  sorghum        1h      0    591
25  sorghum        1h      1    208
26  sorghum        1h      2   1566
27  sorghum       24h      0   3411
28  sorghum       24h      1   4071
29  sorghum       24h      2   1231
30  sorghum        3h      0    682
31  sorghum        3h      1    882
32  sorghum        3h      2   1428
33  sorghum        6h      0   1478
34  sorghum        6h      1   1653
35  sorghum        6h      2   1469

In [21]:
balanced_data

,Unnamed: 0,gene,seq,species,treatment,label
37971,13940,Zm00001eb097000,ATGGCGGGCCCGTCCGGCGCCTCTTCCTCCTCGCGCGGCGCCGGCG...,maize,24h,1
37977,22903,Zm00001eb228500,ATGAGAGCATTGGCAGCAGCGGCCATCCTGGCCACGGCGTTTGCCG...,maize,24h,1
38003,36649,Zm00001eb430410,ATGTCGAGCGCTTTTAGCTCGAGGGCACGCGTGCTGCTGGCGCTGC...,maize,24h,1
38008,14220,Zm00001eb101230,ATGGATGAACGGAGCACAACACCACCGAGCCAGCCCAACCAATCTG...,maize,24h,1
38071,25306,Zm00001eb263940,ATGCTCGAGCTGCTCGCGCGGCGAGAGCGGGCCGCCGCGTGCCGGC...,maize,24h,1
...,...,...,...,...,...,...
10792,756,Zm00001eb092070,ATGGCTGACGGCGAGGACATCCAGCCCCTTGTTTGTGACAATGGAA...,maize,24h,0
16801,6765,Zm00001eb213590,ATGAACTGGGAGAGCGAGCAGAGGAGAGAACAGACTTCTGGTGACG...,maize,24h,0
16973,6937,Zm00001eb260740,ATGGGGAGCATGGGCTACGACAATGACAAGAAGCCCAGGGAGCAGC...,maize,24h,0
14596,4560,Zm00001eb267570,ATGTACTATGTTTCCACGTCATGCAACGCAACATTCCAAAACCATG...,maize,24h,0
10768,732,Zm00001eb108120,ATGTCTGATAGCCATGAGACTGACAGGAACATTGAGATTTGGAAAA...,maize,24h,0

In [6]:
balanced_data['label'] = balanced_data['label'].replace({1:0, 2:1})

In [10]:
df_maize_24h = balanced_data[(balanced_data['species'] == 'maize') & (balanced_data['treatment'] == '24h')]

In [16]:
df_maize_24h['label'].value_counts()

0    6919
1    1659
Name: label, dtype: int64

In [18]:
df = df_maize_24h

In [20]:
# 按照类别进行分割
class_0_data = df[df['label'] == 0]
class_1_data = df[df['label'] == 1]

# 从类别为0的数据中随机抽样1659个样本
sampled_class_0_data = class_0_data.sample(n=1659, random_state=42)  # 这里使用了随机种子以保证可重复性

# 将抽样后的数据和类别0, 1的数据合并
balanced_data = pd.concat([class_1_data, sampled_class_0_data])

In [22]:
balanced_data.to_csv('maize_24h_binary.csv', sep=',')